body{
    font-size: 16px;
    background-color: #f6aa1c;
}
@font-face{
    font-family: "Lobster";
    src:url("/src/fonts/Lobster/Lobster-Regular.ttf");
}
@font-face{
    font-family: "Dancing_Script_Regular";
    src: url("/src/fonts/Dancing_Script/static/DancingScript-Regular.ttf")
}
@font-face{
    font-family: "PT_Sans_Caption_Regular";
    src: url("/src/fonts/PT_Sans_Caption/PTSansCaption-Regular.ttf")
}
@font-face{
    font-family: "PT_Sans_Caption_Bold";
    src: url("/src/fonts/PT_Sans_Caption/PTSansCaption-Bold.ttf")
}
#container{
    background-color: #941b0c;
    width: 800px;
    margin:auto;
}

#upper_menu {
    background-color: #3066be;
    height:56px;
    animation: headerChangeColor 3s infinite;
}
#upper_menu ul {
    text-align:center;
    padding-top:17px
    
}
#upper_menu li {
    list-style:none;
    display:inline;
    padding:3px 20px 3px 8px;
    
}
#upper_menu a{
    text-decoration: none;
    color: gold;
}

.information-block{

    background-color: #220901;
    width:800px;
    height:155px;
}
.information-block h1 {
    color:#fff;
    font-family: "Lobster",regular;
    font-size:30px;
    font-weight:bolder;
    padding:20px 20px 0px 20px;
    text-align: center;
}

.information-block h2 {
    color:#f3eded;
    font-family: "Lobster";
    font-size:15px;
    text-align: right;
    padding:20px 20px 20px 20px
}
.content-body{
    background-color: #bc3908;
    width:800px;
    height:350px;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row-reverse;
}
.content-body-log form{
    background-color: #bc3908;
    width:680px;
    height:1200px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 65px;
    padding: 35px;
    padding-left: 85px;
    align-content: center;
}
.content-body-log form h3{
    font-family: "PT_Sans_Caption_Regular";
    color: white;
    font-size: 20px;
}
.content-body-log form h5{
    font-family: "PT_Sans_Caption_Bold";
    color: white;
    font-size: 17px;
}
.content-body .about{
    background-color: gold;
    width: 65%;
    height: 250px;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-right: 25px;
    margin-left: 35px;
    
    animation: boxChangeColor 5s infinite;
    
}
.content-body .about h4{
    padding-top: 25px;
    padding-left: 35px;
    padding-right: 55px;
    color:#fff;
    text-align: justify;
}
.content-body .about h5{
    font-family: "Lobster";
    font-size: 35px;
    padding-top: 0px;
    padding-left: 35px;
    padding-right: 55px;
    color:#fff;
    text-align: center;
    margin: 25px;
}
.content-body img{
    padding: 85px 55px 25px 25px;
    max-width: 100%;
    width:250px;
    height: 200px;
    border-radius: 75%;
}
@keyframes headerChangeColor{
    0%{
        background-color: #941b0c;
    }
    50%{
        background-color: #621708;
    }
    100%{
        background-color: #941b0c;
    }
}

@keyframes boxChangeColor{
    0%{
        background-color: #941b0c;
    }
    50%{
        background-color: #bc3908;
    }
    100%{
        background-color: #941b0c;
    }
}


