<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container" style="width: 40%;">
        <div class="card" >
            <h3>Publicacion de  Juanito Bananas</h3>
            <img src="../assets/images/img_avatar3.png" alt="Avatar">
            <div class="container">
                <button class="w3-button w3-green">Like</button>
                <button class="w3-button w3-red">Comentario</button>
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p> 
            </div>
          </div>
    </div>
     
</body>
</html>