<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/images/instagram.svg" />
    <link rel="stylesheet" href="../styles/css/styleLogIn.css">
    <title>Registrate*Instagram</title>
</head>
<body>
    <div class="login">
        <div class="login-title">
            <img src="../assets/images/instagram.png" alt="instagram">
        </div>
        <p class="login-sugerencia">Registrate para ver fotos <br>y videos de tus amigos</p>
        <div class="facebook">
            <input TYPE = "reset" Value= "Entrar con Facebook">
        </div>
        <form class = "formulario">
            <label for="identificador"><br><br>Numero de Celular <br>o <br>Correo Electrónico:</label><br>
            <input type="text" id="identificador" name="identificador"><br>
            <label for="username">Nombre Completo:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="username">Usuario:</label><br>
            <input type="text" id="username" name="username"><br>
            <label for="pwd">Contraseña:</label><br>
            <input type="password" id="pwd" name="pwd">
        </form>
        <div class="sumit">
            <br><br><Input type = "submit" Value= "Registrarse"><br>
        </div>
    </div>
</body>
</html>