<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
    <div id="container">
        <div id = "upper_menu">
            <ul>
                <li><a href="../html/index.html">Home</a></li>
                <li><a href="../html/social-feed.html">Social Feed</a></li>
                <li><a href="../html/log-in.html">Log in</a></li>
            </ul>
            
        </div>
        <div class = "information-block">
            <h1>Amantes de la Comida</h1>
            <h2>Social Feed (Work in Progress)</h2>
            <h3>Edgar_T</h3>
                <p>EL MEJOR RESTAURANTE DEL MUNDO, SU COMIDA AUNQUE ALGO PECULIAR ES EXTREMADAMENTE DELICIOSA, EN ESPECIAL LA KANGREBURGUER :d</p>
            <h4>Fernadn</h4>
                <p>LA COMIDA DEL RESTURANTE NO ME PARECIO MUY BUENA, EL LUEGAR ME PARECIO GENIAL</p>
            <h5>BOBES PONJA</h5>
                <p>ES EL UNICO LUGAR FUERA DEL MAR DONDE SE PUEDEN COMER LAS DELICIOSAS KANGREBURGUERS, POR LO TANTO ES GENIAL</p>
            <h6>RATAOTUILLE</h6>
                <p>ESTA MUCHO MEJOR MI RESTURANTE :vv </p>
        </div>
        <div class = "content-body">
            <!-- <div class="about">
                Text here
            </div> -->
        </div>
    </div>

    
</body>
</html>